
$bgColor: #ebebeb;

body {
  background-color: bgColor;
}

.chat {
  height: 400px;
  margin-top: 20px;
  background-color: bgColor;

  .MuiGrid-container {
    border: 1px solid gray !important;
  }

  .user-info {
    width: 100%;
    height: 100%;
    height: 606px;
    background: #2e2e2e;
    padding-top: 10px;

    .MuiAvatar-root {
      margin-left: 16px;
    }

    .status {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-top: 10px;
      margin-left: 26px;
    }

    .normal{
      background-color: chartreuse;
    }

    .offline {
      background-color:darkgrey;
    }
  }

  .search-view {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    text-align: center;

    .search-input {
      border: 1px solid gray;
      border-radius: 6px;
      height: 30px;
      margin-top: 10px;
      font-size: 12px;
      width: 90%;
      padding: 0 6px;
    }
  }

  .user-list {
    border-right: 1px solid gray;
  }

  .msg-header {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid gray;
    padding-left: 10px;
  }

  .message {
    width: 100%;
    height: 400px;
    overflow: auto;
    padding: 10px 10px;

    .chat-sender{
      clear:both;
      font-size: 80%;
    }
    .chat-sender div:nth-of-type(1){
      float: left;
    }
    .chat-sender div:nth-of-type(2){
      margin: 0 50px 2px 50px;
      padding: 0px;
      color: #848484;
      font-size: 70%;
      text-align: left;
    }
    .chat-sender div:nth-of-type(3){
      background-color: #efefef;
      float: left;
      margin: 0 50px 10px 10px;
      padding: 10px 10px 10px 10px;
      border-radius:7px;
      text-indent: -12px;
    }
  
    .chat-receiver{
      clear:both;
      font-size: 80%;
    }
    .chat-receiver div:nth-of-type(1){
      float: right;
    }
    .chat-receiver div:nth-of-type(2){
      margin: 0px 50px 2px 50px;
      padding: 0px;
      color: #848484;
      font-size: 70%;
      text-align: right;
    }
    .chat-receiver div:nth-of-type(3){
      float:right;
      background-color: #5d9de7;
      margin: 0px 10px 10px 50px;
      padding: 10px 10px 10px 10px;
      border-radius:7px;
    }
  
    .chat-receiver div:first-child img,
    .chat-sender div:first-child img{
      width: 40px;
      height: 40px;
      border-radius: 10%;
    }
  
    .chat-sender-triangle{
      height: 0px;
      width: 0px;
      border-width: 6px;
      border-style: solid;
      border-color: transparent #efefef transparent transparent;
      position: relative;
      left: -22px;
      top: 3px;
    }
    .chat-receiver-triangle{
      height: 0px;
      width: 0px;
      border-width: 6px;
      border-style: solid;
      border-color: transparent transparent transparent #5d9de7;
      position: relative;
      right:-22px;
      top:3px;
    }
  
    .chat-notice{
      clear: both;
      font-size: 70%;
      color: white;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .chat-notice span{
      background-color: #cecece;
      line-height: 25px;
      border-radius: 5px;
      padding: 5px 10px;
    }

  }

  .send-info{
    width: 100%;
    height: 166px;
    border-top: 1px solid gray;
  }

}